<h1>Hi,<%= @user.name %></h1>

<p>
  Welcome to the Sample App! Click on the link below to activate your account:
  
  http://example.com/account_activations/<%= @user.activation_token %>/edit?email=<%= CGI.escape(@user.email) %>
</p>
